<html xmlns="http://www.w3.org/1999/xhtml" data-template="data-map:loadModel">
<head class="templates:include?path=templates/includes/head.html" />
 <body>
 <header class="templates:include?path=templates/includes/headers/articles.html"/>
 <nav class="templates:include?path=templates/includes/nav-pages.html" />

<section role="main">


<!--
 Archive Page
 Controller >>  uri-template: /archive
            >>  template: archive.html
            >>  module:   posts.xqm (function-calls )

 Discussed in http://markup.co.nz/archive/2014/02/07/ux-design-patterns#archives


 A collection of entries.

-->
   </section>
 <footer class="templates:include?path=templates/includes/footer.html" />
 </body>
</html>
