<html xmlns="http://www.w3.org/1999/xhtml" data-template="data-map:loadModel">
 <head class="templates:include?path=templates/includes/head.html" />
 <body>
   <div class="templates:include?path=templates/includes/icons.html" />
  <header class="templates:include?path=templates/includes/headers/articles.html"/>
   <nav class="templates:include?path=templates/includes/nav-pages.html" />
    <article  class="templates:include?path=templates/includes/h-entry.html" />
    <!-- <article data-template="post:entry" />-->
    <!--<footer class="templates:include?path=templates/includes/footer.html" />-->
 </body>
</html>
