<html xmlns="http://www.w3.org/1999/xhtml" data-template="data-map:loadModel">
 <head class="templates:include?path=templates/includes/head.html" />
 <body vocab="http://schema.org/" typeof="Article">
  <header class="templates:include?path=templates/includes/headers/articles.html" />
  <nav class="templates:include?path=templates/includes/nav-pages.html" />
  <section role="main" aria-labelledby="article-heading" >
   <header id="article-header"><h2 id="article-heading" >article header</h2></header>
   <article>
    <div data-template="page:article-content" />
   </article>
  </section>
  <aside>
   <nav data-template="nav:collection" />
  </aside>
    <footer class="templates:include?path=templates/includes/footer.html" />
 </body>
</html>
