<html xmlns="http://www.w3.org/1999/xhtml" data-template="data-map:loadModel">
 <head class="templates:include?path=templates/includes/head.html" />
 <body>
  <svg class="templates:include?path=templates/includes/icons.html" />
  <header class="templates:include?path=templates/includes/headers/home.html" />
  <nav class="templates:include?path=templates/includes/nav-pages.html" />
   <article data-template="post:main-feed" />
  <footer class="templates:include?path=templates/includes/footers/home-footer.html" />
 </body>
</html>
