<html xmlns="http://www.w3.org/1999/xhtml" data-template="data-map:loadModel">
 <head class="templates:include?path=templates/includes/head.html"/>
 <body>
  <header class="templates:include?path=templates/includes/headers/home.html"/>
    <nav class="templates:include?path=templates/includes/nav-pages.html"/>
    <article data-template="page:article" />
  <footer>
   <ul>
    <li><a href="https://twitter.com/grantmacken" rel="me">@grantmacken on Twitter</a></li>
    <li><a href="https://github.com/grantmacken" rel="me">Github</a></li>
    <li><a href="http://profiles.google.com/grantmacken" rel="me">Google</a></li>
  </ul>

 <form action="http://indieauth.com/auth" method="get">
  <label>Web Address:</label>
  <input type="text" name="me" placeholder="markup.co.nz" />
  <p><button type="submit">Sign In</button></p>
  <input type="hidden" name="redirect_uri" value="http://markup.co.nz/auth" />
</form>

  </footer>
 </body>
</html>
