
/**
 * IMAGES
 *
*/

p, div {
   img{
      float : right;
      }
}



/* Twitter Image Sizing
128
73
48
24
*/



//icons
// file:///home/grant/Downloads/iconmelon-cc1e3f2fd0bf9151bdfbb4b708ffbb6e/index.html
//https://gist.github.com/sol0mka/7397561
//http://tympanus.net/codrops/2013/11/27/svg-icons-ftw/

.iconmelon,
{
   position: relative;
   width: 32px;
   height: 32px;
   margin-top: 1em;
   margin-right: 1em;
   margin-bottom: 1em;
   display: block;
   fill: $quadrary;
   float: left;
}

.im {
   width: 1em;
   height: 1em;
   fill: $quadrary;
   display: inline-block;
   margin-right: .5em;
}

.im-medium {
   width: 1.5em;
   height: 1.5em;
   fill: $quadrary;
   display: inline-block;
   margin-right: .5em;
   float: left;
}


.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
