
/**
 * IMAGES
 *
*/

p, div {
   img{
      float : right;
      }
}


//icons
// file:///home/grant/Downloads/iconmelon-cc1e3f2fd0bf9151bdfbb4b708ffbb6e/index.html
//https://gist.github.com/sol0mka/7397561

.iconmelon,
.im {
   position: relative;
   width: 32px;
   height: 32px;
   margin-top: 1em;
   margin-right: 1em;
   margin-bottom: 1em;
   display: block;
   fill: $page-background;
   stroke: #ccc;
   float: left;
}

.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
