<div class="h-card">
 <img class="u-photo" src="/resources/images/me.png" alt="Grant MacKenzie" />

 <p><a class="p-name u-url" href="http://markup.co.nz">Grant MacKenzie</a></p>
 <p class="p-note">My URL therefore I am</p>
 <p><a class="u-email" href="mailto:grantmacken@gmail.com">email: grantmacken</a></p>
 <p class="p-adr h-adr">
    <span class="p-street-address">8 Featon Ave</span>,
    <span class="p-locality">Awhitu</span>,
    <span class="p-country-name">New Zealand</span>
  </p>
<hr/>
elsewhere
<ul class="link-to-profiles">
   <li><a href="https://twitter.com/grantmacken" rel="me">@grantmacken on Twitter</a></li>
   <li><a href="https://github.com/grantmacken" rel="me">Github</a></li>
   <li><a href="http://profiles.google.com/grantmacken" rel="me">Google</a></li>
  </ul>
</div>
