<article role="main" class="h-entry">
    <h1 class="p-name" data-template="post:name" >Microformats are amazing</h1>
      <p>Published by <a data-template="post:author" class="p-author h-card" href="http://example.com">W. Developer</a>
     on <time data-template="post:published"  class="dt-published" datetime="2013-06-13 12:00:00">13<sup>th</sup> June 2013</time></p>
<hr/>
  <p data-template="post:summary"  class="p-summary">In which I extoll the virtues of using microformats.</p>
<hr/>
  <div data-template="post:content" class="e-content">
    <p>Blah blah blah</p>
  </div>
</article>
