<article role="main" class="h-entry">
   <h1 class="p-name" data-template="post:name">Microformats are amazing</h1>
   <p data-template="post:summary" class="p-summary">In which I extoll the virtues of using microformats.</p>

   <div data-template="post:entry-content" class="e-content">
      <p>Blah blah blah</p>
   </div>

   <footer role="contentinfo">

      <div data-template="post:author"  class="h-card minicard">
         <img class="u-photo" src="/resources/images/me.png" alt="page-author" width="48" height="48"/>
         <p>authored by <br/><a class="p-name u-url" href="/about/me" rel="author">page-author</a></p>
      </div>

      <div data-template="post:published" />
      <div data-template="post:categories"/>
      <div data-template="post:syndicated"/>
   </footer>
</article>
