<article role="main" class="h-entry">
      <h1 class="p-name" data-template="post:name" >Microformats are amazing</h1>

  <p data-template="post:summary"  class="p-summary">In which I extoll the virtues of using microformats.</p>

  <div data-template="post:content" class="e-content">
    <p>Blah blah blah</p>
  </div>

<footer>
<p>
   Authored by <a data-template="post:author" class="p-author h-card" href="http://example.com">W. Developer</a>
   and first published on <br/><time data-template="post:published"  class="dt-published" datetime="2013-06-13 12:00:00">13<sup>th</sup> June 2013</time>
   <br/>
<a data-template="post:permalink" class="u-url" href="…">…</a>ed <span  data-template="post:syndicated"> and also syndicated to <a data-template="post:syndicated" class="u-url" href="…">…</a></span>
  </p>


</footer>

</article>
