<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title data-template="page:head-title">
        feature: page:head-title
        Every page should have an informative title (which also becomes the text of any bookmark to the page)
        context: on page, element title contains page-title from data-map
        expect: xpath="/html/head/title/text()"
    </title>
    <link href="/resources/styles/style.css" rel="Stylesheet" type="text/css" />
    <!-- <link rel="stylesheet" href="//diagnosticss.github.io/css/diagnosticss.css" media="all"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
