<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title data-template="page:head-title"/>
    <link href="/resources/styles/style.css" rel="Stylesheet" type="text/css" />
    <meta data-template="page:head-meta-author"  name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" src="/resources/scripts/lib/sarissa.js"> </script>
    <script type="text/javascript" src="/resources/scripts/main.js"> </script>
</head>
