@import "compass/typography";
@import "compass/typography/vertical_rhythm";

@function emify($target, $context) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

// Make px to ems using base-font-size
// echo as: font-size: em-font(#px);

@function em-font($target, $context: $base-font-size) {
   @return emify($target, $context);
}


// Fonts, measure, leading and typefaces
// ------------------------------------------------------------

// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-weight: $regular;

// Headings
$header-font-weight: $bold;


// SET-UP CORE FONT SIZING AND RHYTHM
$base-font-size: 16px;  // Sets the browser default size. Shouldn't need to change this
$base-line-height: 8px; // Baseline grid. Set to a sensible, small size.
@include establish-baseline;

// Fixed Font
$fixed-font-family:  Menlo, DejaVu Sans Mono, Bitstream Vera Sans Mono , Nu Sans Mono, Droid Sans Mono, Proggy Clean ,Consolas ,Lucida Console, BPMono, monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

/*
 * http://compass-style.org/reference/compass/typography/vertical_rhythm/
 * http://atendesigngroup.com/blog/vertical-rhythm-compass
 * http://davidpaulsson.se/bytype/
 * http://24ways.org/2006/compose-to-a-vertical-rhythm/
 *
 *
Font size declarations use the mixin adjust-font-size-to(font-size in pixels).
Compass will then, convert the font sizes from px to em and fit it into the vertical rhythm automatically.
Likewise, If you need to adjust the line-height, you will use +adjust-leading-to(number of lines).
Quick Reference

@import "compass/typography";
$base-font-size: 18px;
$base-line-height: 24px;
@include establish-baseline;

//@rhythm-borders(px, x, x)
//@leading-border(x, x, x) // border-width, trailer, font-size
//@include adjust-font-size-to(x);
//@include adjust-leading-to(x);
//@include leader(x);
//@include trailer(x);
//@include rhythm(x,x,x,x,$base-font-size); //trailer, padding-trailer, padding-leader, leader, font-size
*/
